.inline-input-outline {
    border: 1px solid #999;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.inline-input-placeholder {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    white-space: nowrap;
}

.inline-input {
    outline: none;
    border: unset;
    font-size: 20px;
    line-height: 25px;
    width: fit-content;
    padding: 0
}